@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bug Tracker</h1>
    <p class="lead">Bug Tracker helps to manage and monitor the way bugs are submitted and resolved</p>
</div>

<div class="row">
   
</div>